@charset "UTF-8";
@import url(reset.css);
@import "mixin";
@import "variables";

/* common */
.wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: $maxSize;
    min-width: $innerSizeM;
    transition: 0.5s;
    &.black {
        .header {
            &::after {
                background: #e5e5e5;
            }
            .logo {
                a {
                    @include background("img_logo_b.png", center, no-repeat);
                }
            }
            .depth1 {
                color: #333333;
            }
            .util {
                input[type="text"] {
                    border-color: #b2b2b2;
                }
                .btn_search {
                    @include background("icon_search.png", center, no-repeat, $bgColor: #b2b2b2);
                }
                .btn_burger {
                    .line {
                        background: #808080;
                    }
                    .menu_txt {
                        background: #808080;
                        color: #808080;
                    }
                }
            }
        }

        .right_sect {
            .right_inner {
                &::after {
                    background: #e5e5e5;
                }
            }
            .lang {
                color: #333333;
            }
            .family_site {
                ul {
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-right: none;
                }
                span {
                    button {
                        color: #333333;
                    }
                }
                &.on {
                    span {
                        button {
                            color: #fff;
                        }
                    }
                }
            }
            .scroll {
                color: #333333;
                .scroll_icon {
                    border-color: #333333;
                    &::before {
                        background: #333333;
                    }
                }
            }
            .btn_top {
                a {
                    color: #333333;
                }
            }
        }
        .indigater {
            li {
                &.active {
                    a {
                        &::after {
                            background: none;
                            border-color: #343434;
                        }
                    }
                }
                a {
                    &::after {
                        background: #343434;
                        border-color: #343434;
                    }
                }
            }
        }
    }

    &.open {
        width: 100%;
        height: 100vh;
        padding: 0;
        transition: 0.5s;
        .logo {
            a {
                @include background("img_logo_b.png", center, no-repeat);
            }
        }
        .util {
            input[type="text"] {
                border-color: #b2b2b2;
            }
            .btn_search {
                @include background("icon_search.png", center, no-repeat, $bgColor: #b2b2b2);
            }
            .btn_burger {
                .line {
                    top: 50% !important;
                    left: 50% !important;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    background: #808080;
                    transition: 0.5s;
                    &.last {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                }
                .menu_txt {
                    opacity: 0;
                    background: #808080;
                    color: #333333;
                }
                &:hover {
                    .line {
                        width: 100%;
                    }
                    .menu_txt {
                        width: 0;
                        &::before {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        .gnb {
            display: none;
        }
    }
    .right_sect {
        position: fixed;
        top: 100px;
        right: 0;
        z-index: 10;
        width: 100px;
        height: calc(100vh - 100px);
        &::after {
            transition: 1s;
            position: absolute;
            bottom: 0;
            right: 100px;
            width: 1px;
            height: 0vh;
            background: #e5e5e5;
            content: "";
        }
        .right_inner {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 40px 36px 60px 40px;
            &::after {
                position: absolute;
                bottom: 0;
                right: 100px;
                width: 1px;
                height: 100vh;
                background: rgba(255, 255, 255, 0.2);
                content: "";
            }
        }
        .lang {
            display: block;
            width: 60px;
            height: 20px;
            margin-bottom: 70px;
            font-weight: 300;
            font-size: 12px;
            color: #fff;
            text-align: right;
            transform: rotate(-90deg) translate(-50%, -90%);
            transform-origin: center;
            letter-spacing: -0.5px;
            &::before {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 5px;
                @include background("icon_eng.png", center, no-repeat, $size: 100%);
                transform: rotate(90deg);
                vertical-align: middle;
                content: "";
            }
        }
        .family_site {
            position: absolute;
            right: 30px;
            top: 135px;
            z-index: 2;
            width: 200px;
            height: 320px;
            transition: 0.3s;
            span {
                display: block;
                position: absolute;
                right: 0;
                top: 0px;
                width: 35px;
                height: 320px;
                button {
                    display: block;
                    position: absolute;
                    right: -20px;
                    top: 55px;
                    width: 80px;
                    font-weight: 300;
                    font-size: 12px;
                    color: #fff;
                    text-align: right;
                    transform: rotate(-90deg) translate(0%, 0%);
                    letter-spacing: -0.5px;
                }
            }
            ul {
                position: absolute;
                left: 0;
                top: 0px;
                width: 165px;
                height: 320px;
                padding: 20px 20px 18px;
                background: #fff;
                box-sizing: border-box;
            }
            li {
                margin-bottom: 15px;
                margin-left: 20px;
                opacity: 0;
                transition: 0.3s;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    font-family: "HanwhaWeb";
                    font-size: 14px;
                }
            }
            &.on {
                background: linear-gradient(to right, #fff 165px, #f37321 35px);
                span {
                    button {
                        color: #fff;
                    }
                }
            }
        }
        .scroll {
            display: block;
            position: absolute;
            right: -27px;
            bottom: 120px;
            width: 145px;
            height: 20px;
            font-weight: 300;
            font-size: 12px;
            color: #fff;
            letter-spacing: -0.5px;
            text-align: right;
            transform: rotate(-90deg);
            transform-origin: center;
            transition: 0.2s;

            .scroll_icon {
                display: block;
                position: absolute;
                left: 0;
                top: -2px;
                width: 27px;
                height: 20px;
                border: 1px solid #fff;
                border-radius: 10px;
                vertical-align: text-bottom;
                animation: move 1s linear infinite;
                &::before {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 1px;
                    height: 1px;
                    background: #fff;
                    transform: translate(-50%, -50%);
                    content: "";
                }
                @keyframes move {
                    0% {
                        left: 10px;
                    }
                    50% {
                        left: 0;
                    }
                    100% {
                        left: 10px;
                    }
                }
            }
        }
        .btn_top {
            position: absolute;
            right: 36px;
            bottom: 0px;
            width: auto;
            opacity: 0;
            a {
                font-weight: 300;
                font-size: 12px;
                color: #fff;
            }
        }
        &.all_sect {
            z-index: 1001;

            &::after {
                height: 100vh;
            }
            .right_inner {
                display: none;
            }
        }
    }
}
.inner {
    position: relative;
    width: 100%;
    padding: 0 100px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    transition: 0.3s;
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.2);
        content: "";
    }

    .header_inner {
        position: relative;
        padding: 30px 0;
        height: 100px;
        box-sizing: border-box;
        &::after {
            transition: 1s;
            position: absolute;
            top: 100px;
            left: 0;
            z-index: 1000;
            width: 0;
            height: 1px;
            background: #e5e5e5;
            content: "";
        }
    }
    .gnb_bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #fff;
        opacity: 0;
        transition: 0.2s;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 2.6%;
        width: 187px;
        height: 41px;
        a {
            display: block;
            height: 100%;
            @include background("logo.png", center, no-repeat, $size: 100%);
        }
    }
    .gnb {
        display: block;
        position: absolute;
        top: 0%;
        left: 50%;
        width: 755px;
        height: 100px;
        transform: translateX(-50%);

        ul {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        .depth_wrap {
            display: inline-block;
            width: auto;
            // padding: 0 ;
            text-align: center;
            vertical-align: text-top;
        }
        .depth1 {
            display: block;
            padding: 40px 27px;
            font-weight: 400;
            font-size: 18px;
            color: #fff;
            transition: 0.2s;
            &.active {
                background: #f37321;
                color: #fff !important;
            }
        }
        .depth2_wrap {
            display: none;
            padding: 25px 0 45px 0;
            margin-top: 20px;
            opacity: 0;
            li {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            a {
                text-align: center;
            }
        }
    }
    .util {
        position: absolute;
        top: 0;
        right: 0;
        width: 370px;
        font-size: 0;
        .search_wrap {
            display: inline-block;
            width: 270px;
            font-size: 0;
            vertical-align: middle;
        }
        input[type="text"] {
            width: 180px;
            padding: 0 5px;
            background: none;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            vertical-align: bottom;
        }
        .burger {
            display: inline-block;
            position: relative;
            width: 100px;
            height: 100px;
            vertical-align: middle;
            // border-left: 1px solid rgba(255, 255, 255, 0.2);
        }
        .btn {
            display: inline-block;

            &_search {
                width: 38px;
                height: 38px;
                border-radius: 100%;
                @include background("icon_search_on.png", center, no-repeat, 15px, #fff);
            }
            &_burger {
                // display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 19px;
                margin: 0 auto;
                .line {
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    transition: 0.2s;
                    &.first {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &.last {
                        position: absolute;
                        bottom: 0%;
                        right: 0%;
                    }
                }
                .menu_txt {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 1px;
                    transform: translateY(-50%);
                    background: #fff;
                    color: #fff;
                    transition: 0.2s;
                    &::before {
                        position: absolute;
                        left: 0%;
                        top: 50%;
                        width: 40px;
                        margin-bottom: 1px;
                        transform: translateY(-50%);
                        font-size: 8px;
                        opacity: 0;
                        content: "MENU";
                    }
                }
                &:hover {
                    .line {
                        width: 20px;
                    }
                    .menu_txt {
                        width: 0;
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .all_menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1000;
        width: 100%;
        height: 100%;
        background: #fff;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        .logo {
            a {
                @include background("img_logo_b.png", center, no-repeat);
            }
        }
        .util {
            .search_wrap {
                input[type="text"] {
                    width: 180px;
                    border-color: #b2b2b2;
                    transition: 0.5s;
                }
            }
            .btn_search {
                @include background("icon_search.png", center, no-repeat, $bgColor: #b2b2b2);
                transition: 0.5s;
            }
            input[type="text"] {
                border-bottom: 1px solid #888;
                transition: 0.5s;
            }
            .burger {
                // border: none;
                .line {
                    background: #888;
                    &.first {
                        top: 50%;
                        transform: translateY(-50%) rotate(45deg);
                    }
                    &.last {
                        top: 50%;
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }
                .menu_txt {
                    opacity: 0;
                }
                &:hover {
                    .line {
                        width: 100%;
                    }
                }
            }
        }
        .all_gnb {
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translate(0, -50%);
            z-index: 1002;
            width: 100%;
            height: auto;
            > ul {
                width: 850px;
                margin: 0 auto;
            }
        }
        .depth_wrap {
            display: block;
            position: relative;
            margin-bottom: 20px;
            text-align: left;
            @include clearFix;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                position: absolute;
                display: block;
                top: 26px;
                left: 0%;
                z-index: 2;
                width: 0px;
                height: 1px;
                background: #e0e0e0;
                content: "";
            }

            &.on {
                &::before {
                    width: 500px;
                    transition: 0.5s;
                }
            }
        }
        .depth1 {
            float: left;
            position: relative;
            z-index: 5;
            width: auto;
            padding: 0;
            padding-right: 50px;
            background: #fff;
            font-weight: 300;
            font-size: 48px;
            color: #343434 !important;
            text-transform: uppercase;
        }
        .depth2_wrap {
            float: right;
            width: calc(100% - 490px);
            padding: 0;
            margin-top: 15px;
            margin-bottom: 15px;
            vertical-align: top;
            opacity: 0;

            li {
                margin-bottom: 20px;
                margin-left: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            a {
                font-size: 20px;
                color: #343434;
                text-transform: uppercase;
            }
        }
    }

    &.on {
        &::after {
            background-color: #f5f5f5;
        }
        .gnb_bg {
            height: 420px;
            opacity: 1;
        }
        .logo {
            a {
                @include background("img_logo_b.png", center, no-repeat);
            }
        }
        .gnb {
            height: auto;
        }
        .depth1 {
            color: #333333;
        }

        .util {
            input[type="text"] {
                border-color: #b2b2b2;
            }
            .btn_search {
                @include background("icon_search.png", center, no-repeat, $bgColor: #b2b2b2);
            }
            .btn_burger {
                .line {
                    background: #808080;
                }
                .menu_txt {
                    background: #808080;
                    color: #333333;
                }
            }
        }
    }
    &.hidden {
        z-index: -1000;
        opacity: 0;
        visibility: hidden;
    }
    &.all {
        &::after {
            width: 0;
        }
        .gnb_bg {
            height: 0;
            opacity: 0;
        }
        .header_inner {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1001;
            width: 100%;
            padding: 0;

            &::after {
                width: 100%;
            }
        }
        .all_menu {
            visibility: visible;
            opacity: 1;
            // z-index: 1005;
            &::after {
                height: 100vh;
            }
        }
    }
}

.footer {
    border-top: 1px solid #cccccc;
    .footer_inner {
        width: 100%;
        padding: 65px 50px;
        @include background("img_logo_b.png", 50px 52px, no-repeat);
        &::after {
            display: block;
            clear: both;
            content: "";
        }
    }
    .left {
        float: left;
        width: 50%;
        padding-left: 230px;
        p {
            margin-bottom: 15px;
            font-size: 14px;
            color: #333333;
        }
        span {
            font-size: 14px;
            color: #686868;
        }
    }
    .right {
        float: right;
        width: 50%;
        padding-right: 80px;
    }
    .tel_wrap {
        margin: 0 -10px 35px -10px;
        dl {
            display: inline-block;
            width: auto;
            padding: 0 10px;
            font-size: 14px;
            border-left: 1px solid #686868;
            &:first-child {
                border-left: 0;
            }
        }
        dt {
            display: inline-block;
            width: auto;
            font-weight: 400;
        }
        dd {
            display: inline-block;
            width: auto;
            font-weight: 300;
        }
    }
    .privasy_wrap {
        margin-bottom: 22px;
        text-align: right;
        margin: 0 -10px;
        margin-bottom: 24px;
        li {
            display: inline-block;
            width: auto;
            padding: 0 10px;
            border-left: 1px solid #e0e0e0;
            vertical-align: middle;
            &:first-child {
                border-left: 0;
            }
        }
        a {
            font-weight: 300;
            font-size: 14px;
            color: #8c8c8c;
        }
    }
    .menu_wrap {
        text-align: right;
        li {
            display: inline-block;
            width: auto;
            padding-left: 95px;
            vertical-align: middle;

            &:first-child {
                padding-left: 0;
            }
        }
        a {
            font-size: 18px;
            color: #393939;
        }
    }
}

.indigater {
    position: fixed;
    bottom: 65px;
    right: 175px;
    z-index: 2;
    width: 150px;
    li {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 13px;
        background: none;
        vertical-align: middle;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            a {
                &::after {
                    width: 100%;
                    height: 100%;
                    background: none;
                    border: 1px solid #fff;
                    transition: 0.3s;
                }
            }
        }
        a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 2px;
                height: 2px;
                border-radius: 100%;
                background: #fff;
                content: "";
            }
        }
    }
}
.main_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // font-size: 0;
    transition: 1s;
}
.sect {
    &.active {
        .indi_txt {
            opacity: 1;
        }
    }
    position: relative;
    height: 100vh;
    .sect_cont {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        // padding-top: 100px;
    }
    .indi_txt {
        position: absolute;
        bottom: 67px;
        right: 345px;
        z-index: 2;
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        opacity: 0;
        transition: 0.2s;
    }
    .txt_area {
        margin: 50px 0;
        h2 {
            margin-bottom: 40px;
            font-weight: 300;
            font-size: 50px;
            text-align: center;
            color: #343434;
        }
        em {
            display: block;
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 16px;
            color: #f37321;
        }
        strong {
            font-weight: 400;
        }
        p {
            font-weight: 300;
            text-align: center;
        }
    }
    .btn_more {
        display: block;
        position: relative;
        width: 100px;
        margin: 0 auto;
        margin-top: 50px;
        font-weight: 300;
        font-size: 14px;
        text-align: left;
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 25px;
            height: 16px;
            @include background("btn_more.png", center, no-repeat, $size: 100%);
            content: "";
        }
    }
    .area {
        width: 100%;
        &_vdo {
            position: relative;
            height: 100%;
            video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: auto;
                height: auto;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }
        &_business {
            height: 100%;
        }
        &_about {
            .txt_area {
                margin: 0 0 100px 0;
            }
        }
        &_brand {
            //overflow: hidden;
            // .txt_area {
            //     margin: 0 0 50px 0;
            // }
            // .inner {
            //     padding: 0 100px 0 5.2%;
            // }
        }
        &_inquiry {
        }
    }
    &_01 {
        .txt_area {
            position: absolute;
            bottom: 85px;
            left: 5.2%;
            width: auto;
            animation: show 0.5s linear;
            h2 {
                font-weight: 500;
                line-height: 1.3;
                color: #fff;
                text-align: left;
            }
            p {
                font-weight: 300;
                font-size: 18px;
                color: #fff;
                text-align: left;
            }
            @keyframes show {
                from {
                    opacity: 0;
                    transform: translateX(-50px);
                }
                to {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
    }
    &_02 {
        ul {
            width: 100%;
            height: 100%;
            font-size: 0;
        }
        li {
            display: inline-block;
            position: relative;
            width: 33.33%;
            height: 100%;
            $bg_list: 1, 2, 3;
            @each $num in $bg_list {
                &.section2_#{$num} {
                    .bg {
                        width: 0;
                        height: 100%;
                        @include background("img_section2_#{$num}.jpg", center, no-repeat, $size: cover);
                    }
                }
            }

            .bg {
                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 0%;
                    height: 0%;
                    background: rgba(243, 115, 33, 0.8);
                    transition: 0.4s;
                    content: "";
                }
                &:hover {
                    &::after {
                        width: 100%;
                        height: 100%;
                    }
                    .txt {
                        &_front {
                            opacity: 0;
                            transition: 0.1s;
                            display: none;
                        }
                        &_back {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                            transition: 0.8s;
                        }
                    }
                }
            }
            h2 {
                height: 175px;
                font-weight: 300;
                font-size: 18px;
                em {
                    display: block;
                    margin-top: 15px;
                    font-weight: 600;
                    font-size: 28px;
                }

                $icon_list: 1, 2, 3;
                @each $icon_num in $icon_list {
                    &.icon_section2_#{$icon_num} {
                        &::before {
                            display: block;
                            width: 85px;
                            height: 75px;
                            margin: 0 auto;
                            margin-bottom: 15px;
                            @include background("icon_section2_#{$icon_num}.png", center, no-repeat, $size: auto);
                            content: "";
                        }
                    }
                }
            }
            p {
                margin-top: 10px;
                font-weight: 300;
                font-size: 16px;
                line-height: 1.5;
            }
        }
        .txt {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            color: #fff;
            &_front {
                margin-top: 40px;
                opacity: 0;
            }
            &_back {
                opacity: 0;
                transform: translate(-50%, -30%);
            }
        }
    }
    &_03 {
        .indi_txt {
            color: #343434;
        }
        .txt_area {
            h2 {
                font-weight: 300;
                color: #343434;
            }
            em {
                display: block;
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 16px;
                color: #f37321;
            }
            strong {
                font-weight: 400;
            }
            p {
                font-weight: 300;
                text-align: center;
            }
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
            font-size: 0;
        }
        li {
            width: 20%;
        }
        .icon {
            display: block;
            width: 140px;
            height: 140px;
            margin: 0 auto;
            margin-bottom: 20px;
            border-radius: 100%;
            // icon_section3_1
            $icon_list2: 1, 2, 3, 4, 5;
            @each $iconNum in $icon_list2 {
                &_section3_#{$iconNum} {
                    @include background("icon_section3_#{$iconNum}.png", center, no-repeat, auto, #f37321);
                }
            }
        }
        .txt_box {
            text-align: center;
            span {
                display: block;
                margin-bottom: 8px;
                font-size: 18px;
                color: #343434;
            }
            strong {
                font-size: 30px;
            }
            p {
                font-weight: 300;
                font-size: 16px;
            }
        }
    }
    &_04 {
        .indi_txt {
            color: #343434;
        }
        .brand_wrap {
            overflow: hidden;
            position: relative;
            width: 100%;
        }
        .swiper-container {
            margin-bottom: 30px;
        }
        .brand_list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            font-size: 0;
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 750%;
            // max-width: 4125px;
            // transition: 0.5s;

            li {
                position: relative;
                height: auto;
                // display: inline-block;
                // width: 14.28%;
                // max-width: 550px;
                // height: 100%;
                // margin-right: 35px;
                // vertical-align: top;

                > a {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    &::before {
                        position: absolute;
                        top: 0;
                        right: 50%;
                        width: 0%;
                        height: 100%;
                        background: rgba(243, 115, 33, 0.8);
                        content: "";
                    }
                    &::after {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 0%;
                        height: 100%;
                        background: rgba(243, 115, 33, 0.8);
                        content: "";
                    }
                    &:hover {
                        p {
                            opacity: 0;
                            transition: 0.2s;
                        }
                        .btn_more {
                            opacity: 1;
                            transition: 0.2s;
                        }
                        &::before,
                        &::after {
                            width: 50%;
                            transition: 0.3s;
                        }
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                img {
                    display: block;
                    width: 100%;
                    max-width: 550px;
                }
            }
            .front {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                $brandLogo: (
                    "1": (
                        width: 189px,
                        height: 62px,
                    ),
                    "2": (
                        width: 78px,
                        height: 89px,
                    ),
                    "3": (
                        width: 245px,
                        height: 32px,
                    ),
                    "4": (
                        width: 169px,
                        height: 34px,
                    ),
                    "5": (
                        width: 208px,
                        height: 27px,
                    ),
                    "6": (
                        width: 134px,
                        height: 44px,
                    ),
                    "7": (
                        width: 165px,
                        height: 41px,
                    ),
                );
                @each $list, $size in $brandLogo {
                    &_#{$list} {
                        &::before {
                            position: absolute;
                            top: 30px;
                            left: 30px;
                            z-index: 1;
                            width: map-get($size, width);
                            height: map-get($size, height);
                            @include background("tit_brand#{$list}.png", center, no-repeat, $size: 100%);
                            content: "";
                        }
                    }
                }

                p {
                    position: absolute;
                    bottom: 25px;
                    right: 30px;
                    width: auto;
                    height: auto;
                    font-weight: 600;
                    font-size: 20px;
                    color: #fff;
                    opacity: 1;
                }
                .btn_more {
                    position: absolute;
                    bottom: 25px;
                    right: 30px;
                    z-index: 2;
                    width: 100px;
                    height: auto;
                    opacity: 0;
                    color: #fff;
                }
            }
        }
        .btn_box {
            width: 100%;
            height: 20px;
            > div {
                width: 60px;
                margin: 0 auto;
            }
            .btn {
                display: inline-block;
                width: 10px;
                height: 20px;
                font-size: 0;
                vertical-align: middle;
                $btnName: prev, next;
                @each $arrowBg in $btnName {
                    &_#{$arrowBg} {
                        @include background("btn_swiper_#{$arrowBg}.png", center, no-repeat, $size: 4px 6px);
                    }
                }
                &.swiper-button-prev,
                &.swiper-button-next {
                    position: static;
                    margin-top: 0;
                    &::after {
                        display: none;
                    }
                }
            }
            .circle {
                display: inline-block;
                width: 18px;
                height: 18px;
                margin: 0 5px;
                border: 1px solid #f37321;
                border-radius: 100%;
                vertical-align: middle;
            }
        }
    }
    &_05 {
        .indi_txt {
            color: #343434;
        }
        .inner {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 100px 100px 0 100px;
        }
        .cont {
            &.left {
                position: relative;
                width: calc(50% - 50px);
                height: calc(100vh - 100px);
                padding: 100px 100px 0 0;
                &::after {
                    position: absolute;
                    top: 0;
                    right: 0%;
                    width: 1px;
                    height: calc(100vh - 100px);
                    background: #f0f0f0;
                    content: "";
                }
            }
            &.right {
                width: calc(50% + 50px);
                flex-direction: column;
                @include flexBox;
            }
        }
        .flex_box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }
        .txt_area {
            width: 100%;
            margin: 0 0 30px 0;
            h2,
            p,
            em {
                text-align: left;
            }
            h2 {
                margin-bottom: 30px;
            }
        }
        .input_box {
            width: 100%;
            ul {
                margin-bottom: 25px;
                font-size: 0;
            }
            li {
                padding: 25px 0;
                border-bottom: 1px solid #f0f0f0;
            }
            label {
                display: inline-block;
                width: 125px;
                font-size: 16px;
                color: #343434;
                vertical-align: top;
            }
            input[type="text"] {
                width: calc(100% - 125px);
                border: none;
            }
            textarea {
                width: calc(100% - 125px);
                height: 80px;
                border: none;
            }
        }
        .agree_box {
            width: 100%;
            margin-bottom: 50px;
            input[type="checkbox"] {
                width: 0;
                height: 0;
                margin: 0;
            }
            label {
                position: relative;
                width: auto;
                padding-left: 20px;
                vertical-align: middle;
                font-size: 14px;
                color: #8d8d8d;
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    border: 1px solid #f0f0f0;
                    box-sizing: border-box;
                    content: "";
                }
            }
            input[type="checkbox"]:checked + label {
                &::before {
                    border: 1px solid #f37321;
                }
                &::after {
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 9px;
                    height: 9px;
                    border-radius: 100%;
                    background: #f37321;
                    content: "";
                }
            }
            a {
                vertical-align: middle;
                font-size: 14px;
                color: #8d8d8d;
            }
        }
        .inquiry_box {
            width: 100%;
            @include clearFix;
            dl {
                float: left;
                width: auto;
                dt {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 16px;
                    color: #f37321;
                    vertical-align: middle;
                    &::before {
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        margin-right: 8px;
                        vertical-align: middle;
                        @include background("icon_tel.png", center, no-repeat, $size: 100%);
                        content: "";
                    }
                }
                dd {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 18px;
                    color: #343434;
                }
            }
            .btn_inquiry {
                float: right;
                position: relative;
                width: 200px;
                padding-bottom: 20px;
                border-bottom: 1px solid #e0e0e0;
                font-weight: 300;
                font-size: 15px;
                &::after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 31px;
                    height: 18px;
                    @include background("btn_more_on.png", center, no-repeat, $size: 100%);
                    content: "";
                }
                &::before {
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 0%;
                    height: 1px;
                    background: #f37321;
                    content: "";
                    transition: 0.3s;
                }
                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
        .right_cont {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            height: calc(50vh - 50px);
            padding: 0 100px;
            .txt_area {
                p {
                    font-weight: 500;
                    font-size: 24px;
                    color: #343434;
                    line-height: 1.5;
                }
            }
        }
        .right_top {
            flex-basis: 100%;
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: #f0f0f0;
                content: "";
            }
            .inquiry_box {
                .btn_inquiry {
                    width: 220px;
                }
            }
        }
        .right_bot {
            .txt_area {
                margin: 0;
            }
            ul {
                li {
                    position: relative;
                    padding: 25px 0;
                    border-bottom: 1px solid #e0e0e0;
                }
                a {
                    font-weight: 400;
                    font-size: 18px;
                    color: #343434;

                    &::before {
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        width: 10px;
                        height: 10px;
                        transform: scale(0);
                        background: #f37321;
                        border-radius: 100%;
                        transition: 0.3s;
                        content: "";
                    }
                    &::after {
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        width: 0%;
                        height: 1px;
                        background: #f37321;
                        transition: 0.3s;
                        content: "";
                    }
                    &:hover {
                        &::before {
                            transform: scale(1);
                        }
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
