@import url(reset.css);
/* common */
.wrap { position: relative; width: 100%; margin: 0 auto; min-width: 320px; max-width: 1920px; -webkit-transition: 0.5s; transition: 0.5s; }

.wrap.black .header::after { background: #e5e5e5; }

.wrap.black .header .logo a { background: url(/thetastable/resource/img/img_logo_b.png) center no-repeat; }

.wrap.black .header .depth1 { color: #333333; }

.wrap.black .header .util input[type="text"] { border-color: #b2b2b2; }

.wrap.black .header .util .btn_search { background: #b2b2b2 url("/thetastable/resource/img/icon_search.png") center no-repeat; }

.wrap.black .header .util .btn_burger .line { background: #808080; }

.wrap.black .header .util .btn_burger .menu_txt { background: #808080; color: #808080; }

.wrap.black .right_sect .right_inner::after { background: #e5e5e5; }

.wrap.black .right_sect .lang { color: #333333; }

.wrap.black .right_sect .family_site ul { border: 1px solid rgba(0, 0, 0, 0.2); border-right: none; }

.wrap.black .right_sect .family_site span button { color: #333333; }

.wrap.black .right_sect .family_site.on span button { color: #fff; }

.wrap.black .right_sect .scroll { color: #333333; }

.wrap.black .right_sect .scroll .scroll_icon { border-color: #333333; }

.wrap.black .right_sect .scroll .scroll_icon::before { background: #333333; }

.wrap.black .right_sect .btn_top a { color: #333333; }

.wrap.black .indigater li.active a::after { background: none; border-color: #343434; }

.wrap.black .indigater li a::after { background: #343434; border-color: #343434; }

.wrap.open { width: 100%; height: 100vh; padding: 0; -webkit-transition: 0.5s; transition: 0.5s; }

.wrap.open .logo a { background: url(/thetastable/resource/img/img_logo_b.png) center no-repeat; }

.wrap.open .util input[type="text"] { border-color: #b2b2b2; }

.wrap.open .util .btn_search { background: #b2b2b2 url(/thetastable/resource/img/icon_search.png) center no-repeat; }

.wrap.open .util .btn_burger .line { top: 50% !important; left: 50% !important; -webkit-transform: translate(-50%, -50%) rotate(-45deg); -ms-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); background: #808080; -webkit-transition: 0.5s; transition: 0.5s; }

.wrap.open .util .btn_burger .line.last { -webkit-transform: translate(-50%, -50%) rotate(45deg); -ms-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); }

.wrap.open .util .btn_burger .menu_txt { opacity: 0; background: #808080; color: #333333; }

.wrap.open .util .btn_burger:hover .line { width: 100%; }

.wrap.open .util .btn_burger:hover .menu_txt { width: 0; }

.wrap.open .util .btn_burger:hover .menu_txt::before { opacity: 0; }

.wrap.open .gnb { display: none; }

.wrap .right_sect { position: fixed; top: 100px; right: 0; z-index: 10; width: 100px; height: calc(100vh - 100px); }

.wrap .right_sect::after { -webkit-transition: 1s; transition: 1s; position: absolute; bottom: 0; right: 100px; width: 1px; height: 0vh; background: #e5e5e5; content: ""; }

.wrap .right_sect .right_inner { position: relative; width: 100%; height: 100%; padding: 40px 36px 60px 40px; }

.wrap .right_sect .right_inner::after { position: absolute; bottom: 0; right: 100px; width: 1px; height: 100vh; background: rgba(255, 255, 255, 0.2); content: ""; }

.wrap .right_sect .lang { display: block; width: 60px; height: 20px; margin-bottom: 70px; font-weight: 300; font-size: 12px; color: #fff; text-align: right; -webkit-transform: rotate(-90deg) translate(-50%, -90%); -ms-transform: rotate(-90deg) translate(-50%, -90%); transform: rotate(-90deg) translate(-50%, -90%); -webkit-transform-origin: center; -ms-transform-origin: center; transform-origin: center; letter-spacing: -0.5px; }

.wrap .right_sect .lang::before { display: inline-block; width: 20px; height: 20px; margin-right: 5px; background: url(/thetastable/resource/img/icon_eng.png) center no-repeat; background-size: 100%; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); vertical-align: middle; content: ""; }

.wrap .right_sect .family_site { position: absolute; right: 30px; top: 135px; z-index: 2; width: 200px; height: 320px; -webkit-transition: 0.3s; transition: 0.3s; }

.wrap .right_sect .family_site span { display: block; position: absolute; right: 0; top: 0px; width: 35px; height: 320px; }

.wrap .right_sect .family_site span button { display: block; position: absolute; right: -20px; top: 55px; width: 80px; font-weight: 300; font-size: 12px; color: #fff; text-align: right; -webkit-transform: rotate(-90deg) translate(0%, 0%); -ms-transform: rotate(-90deg) translate(0%, 0%); transform: rotate(-90deg) translate(0%, 0%); letter-spacing: -0.5px; }

.wrap .right_sect .family_site ul { position: absolute; left: 0; top: 0px; width: 165px; height: 320px; padding: 20px 20px 18px; background: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrap .right_sect .family_site li { margin-bottom: 15px; margin-left: 20px; opacity: 0; -webkit-transition: 0.3s; transition: 0.3s; }

.wrap .right_sect .family_site li:last-child { margin-bottom: 0; }

.wrap .right_sect .family_site li a { font-family: "HanwhaWeb"; font-size: 14px; }

.wrap .right_sect .family_site.on { background: -webkit-linear-gradient(left, #fff 165px, #f37321 35px); background: linear-gradient(to right, #fff 165px, #f37321 35px); }

.wrap .right_sect .family_site.on span button { color: #fff; }

.wrap .right_sect .scroll { display: block; position: absolute; right: -27px; bottom: 120px; width: 145px; height: 20px; font-weight: 300; font-size: 12px; color: #fff; letter-spacing: -0.5px; text-align: right; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transform-origin: center; -ms-transform-origin: center; transform-origin: center; -webkit-transition: 0.2s; transition: 0.2s; }

.wrap .right_sect .scroll .scroll_icon { display: block; position: absolute; left: 0; top: -2px; width: 27px; height: 20px; border: 1px solid #fff; border-radius: 10px; vertical-align: text-bottom; -webkit-animation: move 1s linear infinite; animation: move 1s linear infinite; }

.wrap .right_sect .scroll .scroll_icon::before { display: block; position: absolute; top: 50%; left: 50%; width: 1px; height: 1px; background: #fff; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); content: ""; }

@-webkit-keyframes move { 0% { left: 10px; }
  50% { left: 0; }
  100% { left: 10px; } }

@keyframes move { 0% { left: 10px; }
  50% { left: 0; }
  100% { left: 10px; } }

.wrap .right_sect .btn_top { position: absolute; right: 36px; bottom: 0px; width: auto; opacity: 0; }

.wrap .right_sect .btn_top a { font-weight: 300; font-size: 12px; color: #fff; }

.wrap .right_sect.all_sect { z-index: 1001; }

.wrap .right_sect.all_sect::after { height: 100vh; }

.wrap .right_sect.all_sect .right_inner { display: none; }

.inner { position: relative; width: 100%; padding: 0 100px; }

.header { position: fixed; top: 0; left: 0; width: 100%; height: 100px; z-index: 1000; -webkit-transition: 0.3s; transition: 0.3s; }

.header::after { position: absolute; bottom: 0; left: 0; z-index: 1000; width: 100%; height: 1px; background: rgba(255, 255, 255, 0.2); content: ""; }

.header .header_inner { position: relative; height: 100px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.header .header_inner::after { -webkit-transition: 1s; transition: 1s; position: absolute; top: 100px; left: 0; z-index: 1000; width: 0; height: 1px; background: #e5e5e5; content: ""; }

.header .gnb_bg { position: fixed; top: 0; left: 0; width: 100%; height: 0; background: #fff; opacity: 0; -webkit-transition: 0.2s; transition: 0.2s; }

.header .logo { position: absolute; top: 30px; left: 2.6%; width: 187px; height: 41px; }

.header .logo a { display: block; height: 100%; background: url("/thetastable/resource/img/logo.png") center no-repeat; background-size: 100%; }

.header .gnb { position: relative; height: auto; }

.header .gnb > ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; position: absolute; top: 0%; left: 50%; width: 100%; width: 755px; height: 100%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.header .gnb .depth_wrap { -ms-flex-negative: 0; flex-shrink: 0; -ms-flex-preferred-size: 18%; flex-basis: 18%; text-align: center; }

.header .gnb .depth_wrap:last-child { -webkit-box-flex: 1.5; -ms-flex-positive: 1.5; flex-grow: 1.5; }

.header .gnb .depth1 { display: block; padding: 40px 27px; font-weight: 400; font-size: 17px; color: #fff; -webkit-transition: 0.2s; transition: 0.2s; }

.header .gnb .depth1.active { background: #f37321; color: #fff !important; }

.header .gnb .depth2_wrap { display: none; padding: 25px 0 45px 0; margin-top: 20px; opacity: 0; }

.header .gnb .depth2_wrap li { margin-bottom: 20px; }

.header .gnb .depth2_wrap li:last-child { margin-bottom: 0; }

.header .gnb .depth2_wrap a { text-align: center; }

.header .util { position: absolute; top: 0; right: 0; width: 370px; font-size: 0; }

.header .util .search_wrap { display: inline-block; width: 270px; font-size: 0; vertical-align: middle; }

.header .util .search_wrap.on input[type="text"] { width: 180px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.header .util input[type="text"] { visibility: hidden; width: 180px; padding: 0 5px; background: none; border: none; vertical-align: bottom; }

.header .util .burger { display: inline-block; position: relative; width: 100px; height: 100px; vertical-align: middle; }

.header .util .btn { display: inline-block; }

.header .util .btn_search { width: 38px; height: 38px; background: #fff url("/thetastable/resource/img/icon_search_on.png") center no-repeat; background-size: 15px; border-radius: 100%; }

.header .util .btn_burger { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 40px; height: 19px; margin: 0 auto; }

.header .util .btn_burger .line { width: 100%; height: 1px; background: #fff; -webkit-transition: 0.2s; transition: 0.2s; }

.header .util .btn_burger .line.first { position: absolute; top: 0; left: 0; }

.header .util .btn_burger .line.last { position: absolute; bottom: 0%; right: 0%; }

.header .util .btn_burger .menu_txt { position: absolute; left: 0; top: 50%; width: 100%; height: 1px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background: #fff; color: #fff; -webkit-transition: 0.2s; transition: 0.2s; }

.header .util .btn_burger .menu_txt::before { position: absolute; left: 0%; top: 50%; width: 40px; margin-bottom: 1px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); font-size: 8px; opacity: 0; content: "MENU"; }

.header .util .btn_burger:hover .line { width: 20px; }

.header .util .btn_burger:hover .menu_txt { width: 0; }

.header .util .btn_burger:hover .menu_txt::before { opacity: 1; }

.header .all_menu { position: fixed; top: 0; left: 0; z-index: -1000; width: 100%; height: 100%; background: #fff; visibility: hidden; opacity: 0; -webkit-transition: 0.5s; transition: 0.5s; }

.header .all_menu .logo a { background: url(/thetastable/resource/img/img_logo_b.png) center no-repeat; }

.header .all_menu .util .search_wrap input[type="text"] { width: 180px; border-color: #b2b2b2; -webkit-transition: 0.5s; transition: 0.5s; }

.header .all_menu .util .btn_search { background: #b2b2b2 url("/thetastable/resource/img/icon_search.png") center no-repeat; -webkit-transition: 0.5s; transition: 0.5s; }

.header .all_menu .util input[type="text"] { border-bottom: 1px solid #888; -webkit-transition: 0.5s; transition: 0.5s; }

.header .all_menu .util .burger .line { background: #888; }

.header .all_menu .util .burger .line.first { top: 50%; -webkit-transform: translateY(-50%) rotate(45deg); -ms-transform: translateY(-50%) rotate(45deg); transform: translateY(-50%) rotate(45deg); }

.header .all_menu .util .burger .line.last { top: 50%; -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); }

.header .all_menu .util .burger .menu_txt { opacity: 0; }

.header .all_menu .util .burger:hover .line { width: 100%; }

.header .all_menu .all_gnb { position: absolute; top: 220px; left: 0px; z-index: 1002; width: 100%; height: auto; }

.header .all_menu .all_gnb > ul { width: 850px; margin: 0 auto; }

.header .all_menu .depth_wrap { display: block; position: relative; margin-bottom: 30px; text-align: left; }

.header .all_menu .depth_wrap:last-child { margin-bottom: 0; }

.header .all_menu .depth_wrap::before { position: absolute; display: block; top: 26px; left: 0%; z-index: 2; width: 0px; height: 1px; background: #e0e0e0; content: ""; }

.header .all_menu .depth_wrap::after { display: block; clear: both; content: ""; }

.header .all_menu .depth_wrap.on::before { width: 500px; -webkit-transition: 0.5s; transition: 0.5s; }

.header .all_menu .depth1 { float: left; position: relative; z-index: 5; width: auto; padding: 0; padding-right: 50px; background: #fff; font-weight: 300; font-size: 48px; color: #343434 !important; text-transform: uppercase; }

.header .all_menu .depth2_wrap { float: right; width: calc(100% - 490px); padding: 0; margin-top: 15px; margin-bottom: 15px; vertical-align: top; opacity: 0; }

.header .all_menu .depth2_wrap li { margin-bottom: 35px; margin-left: 30px; }

.header .all_menu .depth2_wrap li:last-child { margin-bottom: 0; }

.header .all_menu .depth2_wrap a { font-size: 20px; color: #343434; text-transform: uppercase; }

.header.on::after { background-color: #f5f5f5; }

.header.on .gnb_bg { height: 420px; opacity: 1; }

.header.on .logo a { background: url("/thetastable/resource/img/img_logo_b.png") center no-repeat; }

.header.on .gnb { height: auto; }

.header.on .depth1 { color: #333333; }

.header.on .util input[type="text"] { border-color: #b2b2b2; }

.header.on .util .btn_search { background: #b2b2b2 url(/thetastable/resource/img/icon_search.png) center no-repeat; }

.header.on .util .btn_burger .line { background: #808080; }

.header.on .util .btn_burger .menu_txt { background: #808080; color: #333333; }

.header.hidden { z-index: -1000; opacity: 0; visibility: hidden; }

.header.all::after { width: 0; }

.header.all .gnb_bg { height: 0; opacity: 0; }

.header.all .header_inner { position: fixed; top: 0; left: 0; z-index: 1001; width: 100%; padding: 0; }

.header.all .header_inner::after { width: 100%; }

.header.all .all_menu { visibility: visible; opacity: 1; }

.header.all .all_menu::after { height: 100vh; }

.footer { border-top: 1px solid #cccccc; }

.footer .footer_inner { width: 100%; padding: 65px 50px; background: url("/thetastable/resource/img/img_logo_b.png") 50px 52px no-repeat; }

.footer .footer_inner::after { display: block; clear: both; content: ""; }

.footer .left { float: left; width: 50%; padding-left: 230px; }

.footer .left p { margin-bottom: 15px; font-size: 14px; color: #333333; }

.footer .left span { font-size: 14px; color: #686868; }

.footer .right { float: right; width: 50%; padding-right: 80px; }

.footer .tel_wrap { margin: 0 -10px 35px -10px; }

.footer .tel_wrap dl { display: inline-block; width: auto; padding: 0 10px; font-size: 14px; border-left: 1px solid #686868; }

.footer .tel_wrap dl:first-child { border-left: 0; }

.footer .tel_wrap dt { display: inline-block; width: auto; font-weight: 400; }

.footer .tel_wrap dd { display: inline-block; width: auto; font-weight: 300; }

.footer .privasy_wrap { margin-bottom: 22px; text-align: right; margin: 0 -10px; margin-bottom: 24px; }

.footer .privasy_wrap li { display: inline-block; width: auto; padding: 0 10px; border-left: 1px solid #e0e0e0; vertical-align: middle; }

.footer .privasy_wrap li:first-child { border-left: 0; }

.footer .privasy_wrap a { font-weight: 300; font-size: 14px; color: #8c8c8c; }

.footer .menu_wrap { text-align: right; }

.footer .menu_wrap li { display: inline-block; width: auto; padding-left: 95px; vertical-align: middle; }

.footer .menu_wrap li:first-child { padding-left: 0; }

.footer .menu_wrap a { font-size: 18px; color: #393939; }

.indigater { position: fixed; bottom: 65px; right: 175px; z-index: 2; width: 150px; }

.indigater li { display: inline-block; width: 16px; height: 16px; margin-right: 13px; background: none; vertical-align: middle; }

.indigater li:last-child { margin-right: 0; }

.indigater li.active a::after { width: 100%; height: 100%; background: none; border: 1px solid #fff; -webkit-transition: 0.3s; transition: 0.3s; }

.indigater li a { display: block; position: relative; width: 100%; height: 100%; }

.indigater li a::after { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 2px; height: 2px; border-radius: 100%; background: #fff; content: ""; }

.main_wrap { position: fixed; top: 0; left: 0; width: 100%; -webkit-transition: 1s; transition: 1s; }

.sect { position: relative; height: 100vh; }

.sect.active .indi_txt { opacity: 1; }

.sect .indi_txt { position: absolute; bottom: 67px; right: 345px; z-index: 2; font-weight: 300; font-size: 12px; color: #fff; opacity: 0; -webkit-transition: 0.2s; transition: 0.2s; }

.sect .txt_area { margin-bottom: 100px; }

.sect .txt_area h2 { margin-bottom: 40px; font-weight: 300; font-size: 50px; text-align: center; color: #343434; }

.sect .txt_area em { display: block; margin-bottom: 20px; font-weight: 700; font-size: 16px; color: #f37321; }

.sect .txt_area strong { font-weight: 400; }

.sect .txt_area p { font-weight: 300; text-align: center; }

.sect .btn_more { display: block; position: relative; width: 100px; margin: 0 auto; margin-top: 50px; font-weight: 300; font-size: 14px; text-align: left; }

.sect .btn_more::after { position: absolute; top: 0; right: 0; width: 25px; height: 16px; background: url("/thetastable/resource/img/btn_more.png") center no-repeat; background-size: 100%; content: ""; }

.sect_01 .vdo_area { position: relative; width: 100%; }

.sect_01 .vdo_area video { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: auto; height: auto; min-width: 100%; min-height: 100%; -o-object-fit: cover; object-fit: cover; }

.sect_01 .txt_area { position: absolute; bottom: 85px; left: 0; -webkit-animation: show 0.5s linear; animation: show 0.5s linear; }

.sect_01 .txt_area h2 { margin-bottom: 50px; font-weight: 500; font-size: 48px; line-height: 1.3; color: #fff; text-align: left; }

.sect_01 .txt_area p { font-weight: 300; font-size: 18px; color: #fff; text-align: left; }

@-webkit-keyframes show { from { opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px); }
  to { opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes show { from { opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px); }
  to { opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
